<template>
    <ol class="pkg-tags">
        <li v-for="list in lists" class="pkg-tags-item">
            <span class="pkg-tags-item-text">{{ list[showKey] }}</span>
            <span @click="deleteItem($index)" class="pkg-tags-item-delete">×</span>
        </li>
    <div>
</template>

<script>
    require('./tags.css');

    export default {
        name: 'tags',
        props: ['lists','showKey'],
        methods: {
            deleteItem: function( num_index ){
                this.lists.splice( num_index, 1 );
            }
        }
    };
</script>