@import './../../node_modules/utils-css/src/utils.css'; 
@import './../../node_modules/utils-css/src/style.css'; 

$tags_padding: $utils_cpt_padding;
$tags_border_radius: 2px;
$tags_spacing: $utils_cpt_spacing;
$tags_size_delete: 1.2em;

.pkg-tags {
    @mixin bdr-box-all;
    margin: 0;
    padding: 0;
    display: block;
    .pkg-tags-item {
        position: relative;
        display: inline-block;
        /* margin-collapse: ; */
        margin: $tags_spacing;
        padding: $tags_padding;
        background-color: $STYLE_COFFEE_01;
        color: $STYLE_COFFEE_03;
        border-radius: $tags_border_radius;
        .pkg-tags-item-text {
            margin-right: $tags_size_delete;
            padding: $tags_padding calc( $tags_padding * 2 ) $tags_padding $tags_padding;
        }
        .pkg-tags-item-delete {
            @mixin hover;
            position: absolute;
            display: inline-block;
            width: $tags_size_delete;
            height: $tags_size_delete;
            right: $tags_spacing;
            top: 50%;
            line-height: 1em;
            transform: translateY(-50%);
            background-color: $STYLE_COFFEE_05;
            color: $STYLE_COFFEE_04;
            border-radius: 50%;
            text-align: center;
            &:hover {
                background-color: color( $STYLE_COFFEE_02 blend( $STYLE_COFFEE_03 20% ) );
            }
        }
    }
}